<!DOCTYPE html>
<html ng-app="ConfigCenter" ng-controller="DemoController">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - Bootstrap Table</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min.css-v=3.3.5.css" rel="stylesheet">
    <link href="css/font-awesome.min.css-v=4.4.0.css" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css-v=4.0.0.css" rel="stylesheet">
	<link href="css/plugins/pagination/tm.pagination.css" rel="stylesheet">
	
	<script src="js/plugins/angular/angular.min.js"></script>
	<script src="js/plugins/pagination/tm.pagination.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/DemoController.js"></script>
	
    <base target="_blank">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group col-md-12">
                            <label for="cacheModule" class="control-label col-md-1">模块</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="cacheModule" ng-model="cacheModule"
                                       ng-trim="true"
                                       placeholder="缓存模块名称"/>
                            </div>
                            <label for="cacheEnv" class="control-label col-md-1">环境</label>
                            <div class="col-md-3">
                                <select class="form-control" id="cacheEnv" ng-model="cacheEnv">
                                    <option value="dev">dev</option>
                                    <option value="local">local</option>
                                    <option value="pre">pre</option>
                                    <option value="pro">pro</option>
                                    <option value="pt">pt</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" ng-click="query()" role="button"
                                        class="btn btn-success btn-block">查询
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" ng-click="reset()" role="button"
                                        class="btn btn-warning btn-block">重置
                                </button>
                            </div>
                            <div class="col-md-1">
                                <button type="button" ng-click="add()" role="button" class="btn btn-success btn-block">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="margin-top-15 col-md-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>年龄</th>
                                <th>年龄</th>
                                <th>年龄</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="demoVo in demoVoList">
                                <td>{{demoVo.userName}}</td>
								<td>{{demoVo.password}}</td>
								<td>{{demoVo.userName}}</td>
								<td>{{demoVo.userName}}</td>
								<td>{{demoVo.userName}}</td>
								<td>{{demoVo.userName}}</td>
								<td>{{demoVo.userName}}</td>
                            </tr>                         

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="margin-top-15 col-md-3">&nbsp;</div>
                                    <div class="col-md-6 text-center">
                                        <tm-pagination conf="paginationConf"></tm-pagination>
                                    </div>
									<div class="margin-top-15 col-md-3">&nbsp;</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js-v=2.1.4.js"></script>
<script src="js/bootstrap.min.js-v=3.3.5.js"></script>
<script src="js/content.min.js-v=1.0.0.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="js/demo/bootstrap-table-demo.min.js"></script>
</body>

</html>